on:
  push:
    tags:
      - 'v*.*.*'
name: Build
jobs:
  publish:
    strategy:
      matrix:
        go-version: [1.15.x]
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        include:
          - os: ubuntu-latest
            artifact_name: dasel
            asset_name: dasel_linux_amd64
          - os: windows-latest
            artifact_name: dasel.exe
            asset_name: dasel_windows_amd64.exe
          - os: macos-latest
            artifact_name: dasel
            asset_name: dasel_macos_amd64
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2-beta
        with:
          go-version: '^1.15.0' # The Go version to download (if necessary) and use.
      - name: Set env
        run: echo ::set-env name=RELEASE_VERSION::${GITHUB_REF:10}
        if: runner.os != 'Windows'
      - name: Set env (Windows)
        run: echo ::set-env name=RELEASE_VERSION::${GITHUB_REF:10}
        shell: bash
        if: runner.os == 'Windows'
      - name: Build
        run: go build -o target/release/${{ matrix.artifact_name }} -ldflags="-X 'github.com/tomwright/dasel/internal.Version=${{ env.RELEASE_VERSION }}'" ./cmd/dasel
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
      - name: Build docker image
        if: runner.os == 'Linux'
        run: docker build --build-arg daselpath=target/release/${{ matrix.artifact_name }} -f docker/Dockerfile -t tomwright/dasel/dasel:latest .
      - name: Docker login
        if: runner.os == 'Linux'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u TomWright --password-stdin
      - name: Docker push latest
        if: runner.os == 'Linux'
        run: docker push tomwright/dasel/dasel:latest docker.pkg.github.com/tomwright/dasel/dasel:latest
      - name: Docker push release
        if: runner.os == 'Linux'
        run: docker push tomwright/dasel/dasel:latest docker.pkg.github.com/tomwright/dasel/dasel:${{ env.RELEASE_VERSION }}